.drop__form--login--signup {
    animation: dropForm 1s linear;
    -webkit-animation: dropForm .4s linear;
}

@keyframes dropForm {
  from {
    opacity: 0;
    transform: translateY(-250px);
    -webkit-transform: translateY(-250px);
    -moz-transform: translateY(-250px);
    -ms-transform: translateY(-250px);
    -o-transform: translateY(-250px);
}
  to {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 1;
}
}
