.discover__box--items::-webkit-scrollbar {
  background-color: gray;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  height: 5px;
  width: 6px;
}
.discover__box--items::-webkit-scrollbar-thumb {
  background-color: #fff;
  height: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: grab;
}
.discover__box--items:active::-webkit-scrollbar-thumb {
  cursor: grabbing;
}

.discover__box--items {
  position: relative;
  margin-top: 30px;
  min-height: 600px;
  padding: -10px;
  box-shadow: 0 0 0 3px gray;
}
/* .discover__box--items   */
.discover--items {
  z-index: 13;
  position: relative;
  border: 3px solid white;
  box-shadow: inset 0 0 10px white;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  animation: show .3s linear;
  -webkit-animation: show .3s linear;
}
.discover--items::after {
  content: "";
  position: absolute;
  box-shadow: 1px 3px 0 2px white;
  filter: invert(0.5);
  -webkit-filter: invert(0.5);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
  }to {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
